df-messenger {
  --df-messenger-bot-message: #d40229;
  --df-messenger-button-titlebar-color: #636564;
  --df-messenger-chat-background-color: #fafafa;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #d40229;
  --df-messenger-user-message: #d40229;
}
